@import "../../css/variables";

:local .modal {
	position: absolute;
	top: 20%;
	left: 30px;
	right: 30px;
	bottom: auto;
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 4px;
	outline: none;
	padding: 20px;

	@media (min-width: $screen-md-min) {
		left: 25%;
		right: 25%;
	}
}

:local .close {
	position: fixed;
	top: calc(20% - 18px);
	right: 16px;
	z-index: 17;

	.white {
		color: #fff;
	}

	@media (min-width: $screen-md-min) {
		right: calc(25% - 14px);
	}
}

:local .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: 15;
}
