@import "../../css/variables";

:local .mini.logo {
  padding: 8px 40px;
}

:local .logo {
  padding: 8px;
  margin: auto;

	@media (min-width: $screen-md-min) {
		transition: padding .5s ease-out;
		lost-column: 3/16;
		lost-move: 13/16;
	}
}

:local .logo img {
    height: 48px;
    @media (min-width: $screen-md-min) {
      height: auto;
      max-height: 150px;
    }
}
