@import '../../css/variables';

:local .blank {
	padding: 0;
	border: 0;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	text-transform: inherit;
	cursor: pointer;
}
