@import '../../css/variables';

:local .half {
	lost-column: 1/1;

	@media (min-width: $screen-md-min) {
		lost-column: 1/2;
		border: 0;
	}
}

:local .full {
	lost-column: 1/1;

	@media (min-width: $screen-md-min) {
		border: 0;
	}
}
