:local .enter {
	max-height: 0;
}

:local .enterActive {
	max-height: 250px;
	transition: max-height 0.5s;
}

:local .leave {
	max-height: 250px;
}

:local .leaveActive {
	max-height: 0;
	transition: max-height 0.5s ease-in;
}
