@import "../../css/variables";

:local .content {
	lost-flex-container: row;
	text-transform: none;

	ul {
		margin-left: 20px;
	}
}

:local .nav {
	margin-top: 10px;
	bottom: 0;

	p {
		float: right;
		padding-right: 10px;
	}
}
