@import '../../css/variables';

:local .searchWrapper {
	width: 100%;

	p {
		height: auto;
	}
}

/* .form-group {
  lost-column: 4/6;
  lost-move: 1/6;
}
*/

:local .listWrapper {
	width: 100%;
	lost-flex-container: row;
}

:local .listPanel {
	margin-bottom: 40px; //transform to -120px; to stack
	padding: 0 10px 10px;
	background-color: #fff;
	box-shadow: 0 10px 16px 0 rgba($primary-highlight, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	lost-column: 1/1;

	@media (min-width: $screen-md-min) {
		lost-column: 1/2 2 40px;
	}

	a {
		color: $text-color;
	}

	h1,
	h2,
	h3 {
		color: $search-overlay;
	}

	h3 {
		padding-left: 40px;
	}
}

:local .docIcons {
	margin-left: -40px;
	color: $primary-highlight;
}

:local .overlay {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(256, 256, 256, 0.6), #fff 50%, #fff), url('../../images/books.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
//search stuff
:local .title {
	lost-flex-container: row;

	h2,
	h3 {
		width: 100%;
	}
}

:local .searchResults {
	position: relative;
	width: 100%;
	overflow: hidden;
}
