@import "../../css/variables";

:local .post {
		lost-column: 1/1;
}

:local .title {}

:local .meta {
		display: none;
		@media (min-width: $screen-md-min) {
				display: block;
				float: left;
				width: 200px;
				height: auto;
				position: absolute;
				margin-left: -200px;
				padding-right: 20px;
		}
}

:local .author {
		display: block;
		text-align: right;
}

:local .date {
		display: block;
		text-align: right;
}

:local .category {
		display: block;
		text-align: right;
}

:local .content {
		img {
			float: left;
			margin: 0 15px 0 0;
			max-height: 50px;
			@media (min-width: $screen-md-min) {
				max-height: none;
			}
		}
}
