@import '../../css/variables';

:local .container {
	width: 100%;
	height: 100vh;
	lost-center: 100%;
	lost-align: top-center;
}

:local .background {
	width: 100%;
	height: 100%;
	background-attachment: local;
	background-image: url('../../images/splash-image.jpeg');
	filter: grayscale(1) brightness(0.8);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

:local .mini.container {
	height: 25vh;

	@media (min-width: $screen-md-min) {
		height: 50vh;
	}
}

:local .mini .background {
	background-image: url('../../images/buildings.jpeg');
	background-position: center 75%;
	background-size: cover;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to top left, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0) 60%, rgba(0, 0, 0, 0.4));
		content: '';
	}
}

:local .content {
	width: 75vw;
	margin-top: 20vh;
	transition: opacity 0.5 linear;
	border-image: url('../../images/outline1.png') 7% 30 15 stretch;
	border-style: solid;
	border-color: $primary-highlight;
	text-align: center;
	//box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

	h1 {
		margin: 5%;
		color: $text-color;
		font-family: $font-family-serif;
		font-size: 100%;
		line-height: 1lh;

		@media (min-width: $screen-md-min) {
			font-size: 200%;
			line-height: 1.5lh;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 50vw;
	}
}
