@import "../../css/variables";

.product-cards {
	margin: 20px;
	display: none;

	@media (min-width: $screen-sm-min) {
		lost-center: 95%;
	}
}

:local .card {
	box-shadow: 0 10px 16px 0 rgba($primary-highlight, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	height: 200px;
	overflow: hidden;

	@media (min-width: $screen-sm-min) {
		lost-column: 1/2;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {
		lost-column: 1/4;
	}

	img {
		max-width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	p {
		font-family: $font-family-sans-serif;
		padding: 5px;
		background-color: rgba(white, 0.9);
		height: auto;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
		color: $text-color;
	}
}
