@import '../../css/variables';

:local .card {
	position: relative;
	height: 200px;
	box-shadow: 0 10px 16px 0 rgba($primary-highlight, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;

	@media (min-width: $screen-sm-min) {
		lost-column: 1/2;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {
		lost-column: 1/4;
	}

	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 100%;
		margin: auto;
	}

	p {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 5px;
		background-color: rgba(255, 255, 255, 0.9);
		color: $text-color;
		font-family: $font-family-sans-serif;
	}
}
