@import '../../css/variables';

:local .wrapper {
	padding: 15px;
	padding-top: 50px;
	overflow: hidden;
	lost-center: 500px;

	@media (min-width: $screen-md-min) {
		lost-center: 980px;
		padding-top: 107px;
	}
}

:local .white {
	min-height: 100vh;
	background-color: #fff;
	color: $text-color;
}

:local .black {
	min-height: 100vh;
	background-color: $footer-bg;
	color: $primary-highlight;

	em {
		color: #fff;
	}
}

:local .transparent {
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	color: $primary-highlight;

	em {
		color: #fff;
	}
}
