@import "../../css/variables";

:local .feature {
	lost-center: 100%;
	position: relative;
	color: $footer-text;

	@media (min-width: $screen-md-min) {
		text-shadow: 1px 1px 2px black;
		background-image: url("../../images/video-background.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

:local .video {
	display: none;
	position: absolute;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		transform: translateX(-50%) translateY(-50%);
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

:local .social {
	text-shadow: none;
	margin-bottom: 15px;
	lost-flex-container: row;

	div {
		lost-column: 1/2;
		text-align: center;
	}

	a {
		color: black;

		@media (min-width: $screen-md-min) {
			color: white;
		}
	}
}

:local .content {
	lost-center: 75vw;
	lost-flex-container: column;
	position: relative;
	padding-top: 30px;

	@media (min-width: $screen-md-min) {
		lost-center: 50vw;
		padding-top: 80px;
	}
}

:local .form {
	lost-center: 100%;
	padding: 10px;

	form {
		lost-flex-container: row;
	}

	label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}

:local .submit {
	lost-column: 1/1;

	@media (min-width: $screen-md-min) {
		border: none;
	}
}

:local .modal {
	text-align: center;
}

:local .button {
	margin-top: 20px;
	padding: 5px 15px;
	border-radius: 0;
	border-style: none;
	color: white;
	background-color: black;
}
