@import '../../css/variables';

:local .feature {
	lost-center: 100%;
	position: relative;
	background-color: $text-color;
	color: $footer-text;

	@media (min-width: $screen-md-min) {
		background-image: url('../../images/video-background.png');
		background-repeat: no-repeat;
		background-size: cover;
		text-shadow: 1px 1px 2px #000;
	}
}

:local .video {
	display: none;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		transform: translateX(-50%) translateY(-50%);
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

:local .social {
	margin-bottom: 15px;
	text-shadow: none;
	lost-flex-container: row;

	div {
		lost-column: 1/2;
		text-align: center;
	}

	a {
		color: #fff;
	}
}

:local .content {
	lost-center: 75vw;
	lost-flex-container: column;
	position: relative;
	padding-top: 30px;

	@media (min-width: $screen-md-min) {
		lost-center: 50vw;
		padding-top: 80px;
	}
}

:local .message {
	text-align: center;
}

:local .form {
	lost-center: 100%;
	padding: 10px;

	form {
		lost-flex-container: row;

		input,
		button,
		textarea {
			background: rgba(255, 255, 255, 0.8);
		}
	}

	label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		clip: rect(0, 0, 0, 0);
		border: 0;
		overflow: hidden;
	}
}

:local .submit {
	lost-column: 1/1;

	@media (min-width: $screen-md-min) {
		border: 0;
	}
}

:local .modal {
	text-align: center;
}

:local .button {
	margin-top: 20px;
	padding: 5px 15px;
	border-style: 0;
	border-radius: 0;
	background-color: #000;
	color: #fff;
}
