@import "../../css/variables";

:local .wrapper {
	overflow: hidden;
	padding: 15px;
	padding-top: 50px;
	lost-center: 500px;

	@media (min-width: $screen-md-min) {
		lost-center: 980px;
		padding-top: 107px;
	}
}

:local .white {
	background-color: white;
	color: $text-color;
	min-height: 100vh;
}

:local .black {
	background-color: $footer-bg;
	color: $primary-highlight;
	min-height: 100vh;

	em {
		color: white;
	}
}

:local .transparent {
	background-color: rgba(0, 0, 0, 0.5);
	color: $primary-highlight;
	min-height: 100vh;

	em {
		color: white;
	}
}
