@import '../css/variables';

:local .content {
	flex: 1 0 auto;
}

:local .enter {
	opacity: 0.01;
}

:local .enterActive {
	transition: opacity 300ms ease-in-out;
	opacity: 1;
}

:local .exit {
	opacity: 1;
}

:local .exitActive {
	transition: opacity 300ms ease-in-out;
	opacity: 0.01;
}
