.warning-banner {
 color: $state-warning-text;
 text-transform: uppercase;
 font-family: $font-family-sans-serif;
 background-color: $state-warning-bg;
 border-top: 1px solid $state-warning-border;
 padding: 15px;
 box-shadow: 0 2px 5px rgba($state-warning-bg, 0.25);

 div {
   lost-center: 880px;
 }
}

.announcement-banner {
 color: $state-info-text;
 text-transform: uppercase;
 font-family: $font-family-sans-serif;
 background-color: $state-info-bg;
 border-top: 1px solid $state-info-border;
 padding: 15px;
 box-shadow: 0 2px 5px rgba($state-info-bg, 0.25);
 div {
   lost-center: 880px;
 }
}

.product-cards {
  margin: 20px;
  lost-center: 95%;
  div {
    box-shadow: 0 10px 16px 0 rgba($primary-highlight,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    lost-column: 1/4;
    position: relative;
    height: 200px;
    overflow: hidden;
    img {
      background-color: black;
      width: 100%;
      //top: 30%;
      position: relative;
      z-index: 0;
    }
    h3 {
      margin-top: 0;
      padding: 10px;
      position: absolute;
      z-index: 1;
    }
    p {
      font-family: $font-family-sans-serif;
      padding: 0px;
      padding: 10px;
      background-color: rgba(white, .9);
      height: 30%;
      width: 100%;
      position: absolute;
      left: 0px;
      bottom: 0px;
      margin: 0;
      z-index: 1;
    }
  }
}

.client-wrapper {
  overflow: hidden;
  padding: 15px;
  padding-top: 50px;
  lost-utility: clearfix;
  lost-center: 500px;
  section {
    lost-column: 1/1;
  }
  @media (min-width: $screen-md-min) {
		lost-center: 880px;
    //margin-right: 200px;
}
}
@media (min-width: $screen-md-min) {
  .site-wrapper-padding {
      padding-top: 107px;
  }
}
