.search-wrapper {
 width: 100%;
  p {
    height: auto;
  }
}

/*.form-group {
  lost-column: 4/6;
  lost-move: 1/6;
}
*/
.list-wrapper {
  lost-flex-container: row;
  justify-content: space-between;
  div {
    h1,h2,h3 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
