$footer-height: 210px;
$footer-bg: $text-color;

body {
  @media (min-width: $screen-sm-min) {
    margin-bottom: ($footer-height + $footer-height);
  }
}

footer {
  width: 100%;
  display: block;
  height: 100vh;
  background-color: white;
  @media (min-width: $screen-sm-min) {
  	background-color: $footer-bg;
    opacity: .9;
  	color: #fff;
  }

// Sticky footer
@media (min-width: $screen-sm-min) {
    bottom: 0;
    position: absolute;
    height: $footer-height;
  }
}

.footer-wrap {
  padding: 15px;
    lost-center: 980px;
    @media (min-width: $screen-sm-min) {
      padding: 0;
      .text-left {
        text-align: left;
        lost-move: 3/11;
      }
      .text-right {
        text-align: right;
      }
    }
}

.footer-list {
  lost-column: 1/2;
  font-size: .8rem;
  text-align: center;
  @media (min-width: $screen-sm-min) {
        lost-column: 2/11;
        font-size: 1rem;
  }
}


.footer-logo {
  lost-column: 1;
  height: 190px;
  background-image: url("../elements/v100it.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 25px;
  @media (min-width: $screen-sm-min) {
      lost-column: 3/11;
      lost-move: -4/11;
  }
}


.footer-list h3 {
font-size: $font-size-h4;
  @media (min-width: $screen-md-min) {
    font-size: $font-size-h3;
    padding-bottom: 3px;
    border-bottom: 1px solid $primary-heading;
  }
}

.footer-wrap ul {
  margin-top: -5px;
  a {
    color: black;
    @media (min-width: $screen-sm-min) {
      color: $footer-text !important;
    }
  }
}


.social {
margin: 0;
padding: 0;
}

.social ul {
  list-style-type: none;
}

.social li {
//    display: inline;
}
