//Navigation bar styles

.nav-bar {
  width: 100vw;
  position: fixed;
  height: auto;
  z-index: 5;
  background-color: rgba(255,255,255,0);
  transition: background-color 1s ease-out;
  transition-delay: 1s;
  @media (min-width: $screen-md-min) {
    height: auto;
    position: fixed;
    text-align: left;
    lost-utility: clearfix;
    //  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .6), rgba(255, 255, 255, 0));
    //backdrop-filter: blur(4px);
    padding-top: 0;
  }
}

.nav-bar.small {
  background-color: rgba(255,255,255,.7);

  @media (min-width: $screen-md-min) {
    .logo {
      transition: padding .5s ease-out;
      padding: .5vr 2.5vr;
    }
  }
}

.logo {
  height: 11vh;
  margin: 0 auto;
  padding: .5vr 0;

  @media (min-width: $screen-md-min) {
    padding: .5vr 20px 0 0;
    height: auto;
    lost-column: 3/16;
    lost-move: 13/16;
  }
}

.mobile-menu {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 4% 0 4%;

  li {
    margin-top: 12px;
    font-family: $headings-font-family;
    color: $headings-color;
    a:visited {
      color: $headings-color;
    }
  }

  li:first-child {
    float: left;
    margin-left: -20px;
  }
  li:last-child {
    float: right;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.main-menu {
  display: none;
  font-size: 1rem;
  margin-top: 12px;
  line-height: 1.1;
  font-family: $headings-font-family;
  color: $headings-color;
  a:visited {
    color: $headings-color;
  }
  @media (min-width: $screen-md-min) {
    display: block;
    lost-column:13/16;
    lost-move: -3/16;
    height: auto;
    ul {
      list-style-type: none;
      margin-left: 20px;
    }
  }
}

.main-menu-item {
  lost-column: 2/13;
  //height: 55px;
  //border-bottom: 2px solid $main-text;
}

.search-box {
  cursor: pointer;
  lost-column: 1/13;
  margin-top: 5px;
    span {
      color: $headings-color;
      a:visited {
        color: $headings-color;
      }
    }
}
