//Navigation bar styles

.nav-bar {
  width: 100vw;
  position: fixed;
  height: auto;
  z-index: 5;
  background-color: rgba(255,255,255,0);
  transition: background-color 1s ease-out;
  transition-delay: 1s;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0);
  lost-flex-container: row;
  @media (min-width: $screen-md-min) {
    text-align: left;
    //  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .6), rgba(255, 255, 255, 0));
    //backdrop-filter: blur(4px);
    padding-top: 0;
  }
}

.nav-bar.mini {
  background-color: rgba(255,255,255,1);
  transition: background-color 1s, box-shadow 2s, linear;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.2);
  @media (min-width: $screen-md-min) {
    .logo {
      transition: padding .5s ease-out;
      padding: .5vr 2.5vr;
    }
  }
}

.logo {
  padding: .5vr;
  margin: auto;
  img {
		height: 11vh;
	  @media (min-width: $screen-md-min) {
	    height: auto;
	  }
	}
	@media (min-width: $screen-md-min) {
		transition: padding .5s ease-out;
		lost-column: 3/16;
		lost-move: 13/16;
	}
}

.mobile-menu {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 4% 0 4%;

  li {
    margin-top: 12px;
    font-family: $headings-font-family;
    color: $headings-color;
    a:visited {
      color: $headings-color;
    }
  }

  li:first-child {
    float: left;
    margin-left: -20px;
  }
  li:last-child {
    float: right;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.main-menu {
  display: none;
  font-size: 1rem;
  margin-top: 12px;
  line-height: 1.1;
  font-family: $headings-font-family;
  color: $headings-color;
  a:visited {
    color: $headings-color;
  }
  @media (min-width: $screen-md-min) {
    display: block;
    lost-column:13/16;
    lost-move: -3/16;
  }
  ul.list-inline {
    display: flex;
    justify-content: space-around;
  }
  li {
    display: flex;
    align-items: center;
  }
}

.main-menu-item {
  // lost-column: 2/13;
  // height: 55px;
  // border-bottom: 2px solid $main-text;
}

.search-box {
  span {
    color: $headings-color;
    a:visited {
      color: $headings-color;
    }
  }
}
