//Navigation bar styles

.nav-bar {
  width: 100vw;
  position: fixed;
  height: auto;
  z-index: 5;
  background-color: rgba(255,255,255,0);
  transition: background-color .5s ease-out;
  @media (min-width: $screen-md-min) {
    height: auto;
    position: fixed;
    text-align: left;
    lost-utility: clearfix;
    //  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .6), rgba(255, 255, 255, 0));
    //backdrop-filter: blur(4px);
    padding-top: 0;
  }
}

.nav-bar.small {
  background-color: rgba(255,255,255,1);

  @media (min-width: $screen-md-min) {
    .logo {
      transition: all 1s ease-out;
      lost-column: 2/16;
      lost-move: 14/16;
    }

    .main-menu {
      transition: all 1s ease-out;
      lost-column:14/16;
      lost-move: -2/16;
    }
  }
}

.logo {
  height: 11vh;
  margin: 0 auto;
  padding: .5vr 0;

  @media (min-width: $screen-md-min) {
    padding: .5vr 0;
    height: auto;
    lost-column: 3/16;
    lost-move: 13/16;
  }
}

.mobile-menu {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 4% 0 4%;

  a:first-child {
    float: left;
  }
  a:last-child {
    float: right;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.main-menu {
  display: none;
  @media (min-width: $screen-md-min) {
    display: block;
    lost-column:13/16;
    lost-move: -3/16;
    height: auto;
    ul {
      list-style-type: none;
      margin-left: 20px;
    //  padding: 0;
      lost-utility: clearfix;
    }
  }
}

.main-menu-item {
  lost-column: 2/13;
}

.search-box {
  display: inline-block;
  lost-column: 1/13;
  text-align: left;
  position: relative;
  top: 5px;
  overflow: hidden;
}
