//hero content styles

.hero-container {
  //padding-top: 92px;
}

.hero-background {
  height: 100vh;
  background-image: url("../elements/splash-image.jpeg");
  background-attachment: local;
  filter: grayscale(1) brightness(.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10px;
  background-position-x: center;
  position: relative;
  z-index: -1;
  //lost-column: 1/1;
  //lost-align: center;
}

.hero-content {
  position: relative;
  height: 80vh;
  margin-top: -80vh;
  lost-column: 3/4;
  lost-move: 1/8;
  z-index: 1;
  lost-utility: clearfix;
  @media (min-width: $screen-md-min) {
    lost-column: 1/2;
    lost-move: 1/4;
  }
}

div.tagline {
  border-color: $primary-highlight;
  border-image: url('../elements/outline1.png') 7% 30 15 stretch;
  //border: 2px solid $primary-highlight;
  @media (min-width: $screen-md-min) {
    //margin-left: 25%;
    //margin-right: 25%;
  }
  //background-color: rgba(255, 255, 255, .8);
}

.tagline h1 {
  font-size: 100%;
  @media (min-width: $screen-md-min) {
    font-size: 200%;
  }
  font-family: $font-family-serif;
  color: $text-color;
  margin: 5%;
  text-align: center;
}
