//@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300);
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300,300italic,700italic);
//@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

// Our Variables
@import './variables';

// Core variables and mixins
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Core CSS
@import './scaffolding';

@typography {
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $headings-color;

		.small,
		small {
			color: $headings-small-color;
		}
	}

	ul {
		margin-left: 1.5lh;
	}

	li {
		margin: 0;
	}

	blockquote {
		margin: 0 0 1lh;
		padding: 0.5lh 1lh;
		border-left: 5px solid $blockquote-border-color;
	}
}

@import './forms';
@import './buttons';

// Components
@import './input-groups';

// Utility classes
@import './utilities';
@import './responsive-utilities';

// Our Stuff
@import './support';
@import './client';

// Lost defaults
@lost gutter 30px;
@lost flexbox flex;

html {
	position: relative;
	min-height: 100%;
	// lost-utility: edit;
}

.lead {
	margin-bottom: 1.15lh;
	font-size: floor(($font-size-base * 1.15));
	line-height: 1.4;

	@media (min-width: $screen-sm-min) {
		font-size: ($font-size-base * 1.5);
	}
}

.list-unstyled {
	margin-left: 0;
	list-style: none;
}

.container {
	lost-flex-container: column;
	height: 100vh;
}

.site-wrapper {
	padding: 3lh 1lh 1lh;
	overflow: hidden;
	lost-center: 500px;

	@media (min-width: $screen-md-min) {
		lost-center: 980px;
	}
}

.site-wrapper-padding {
	@media (min-width: $screen-md-min) {
		padding-top: 107px;
	}
}

article {
	header {
		margin-bottom: 1lh;
	}
}

.hidden {
	display: none;
}

em {
	padding-right: 5px;
	color: $primary-highlight;
	font-family: $font-family-serif;
	font-size: 110%;
	font-style: italic;
}

q,
blockquote {
	quotes: '\201C' '\201D' '\2018' '\2019';
}

//block styles
.text-block-4 {
	lost-column: 1/4;
}

.text-block-2 {
	lost-column: 1/1;

	@media (min-width: $screen-md-min) {
		lost-column: 1/2;
		min-height: 250px;
	}
}

.image-block-2 {
	lost-column: 1/1;

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	@media (min-width: $screen-md-min) {
		lost-column: 1/2;
		min-height: 250px;
		padding-top: 60px;
	}
}

.text-slab {
	padding-bottom: 15px;
	color: $primary-highlight;
	font-family: $font-family-serif;
	font-size: $font-size-h3;
	font-style: normal;
	text-align: center;

	@media (min-width: $screen-md-min) {
		padding-bottom: 50px;
		font-size: $font-size-h1;
	}
}

.expand {
	max-width: 400px;
	height: auto;
	margin: auto;
	font-size: 120%;
	text-align: center;
}

.input-default,
.btn-default {
	border: 1px solid #808080;
	border-radius: 0;
	background: rgba(#fff, 0.8);
	color: #000;

	@media (min-width: $screen-md-min) {
		border: 0;
	}
}

.dl-horizontal {
	filter: blur(1px);
}

.consultation-wrapper {
	background-attachment: fixed;
	background-image: url('../images/skilift.jpg');
	background-repeat: no-repeat;
	background-position: 0 -200px;
	background-size: cover;
}

.consultation-overlay {
	background-image: linear-gradient(rgba(256, 256, 256, 0.6), #fff);
}

.about-wrapper {
	background-attachment: fixed;
	background-image: linear-gradient(#fff, #fff 60%, rgba(256, 256, 256, 0)), url('../images/desk.jpg');
	background-repeat: no-repeat;
	background-position: 0 -200px;
	background-size: cover;
}

.about-overlay {
	background-image: linear-gradient(rgba(256, 256, 256, 0.3), #fff);
}

.registration-wrapper {
	background-attachment: fixed;
	background-image: linear-gradient(#fff, #fff 70%, rgba(256, 256, 256, 0)), url('../images/queue.jpg');
	background-repeat: no-repeat;
	background-position: 0 -200px;
	background-size: cover;
}

.registration-overlay {
	background-image: linear-gradient(rgba(256, 256, 256, 0.3), #fff);
}

.podcasting-wrapper {
	background-attachment: fixed;
	background-image: linear-gradient(#fff, #fff 20%, rgba(256, 256, 256, 0)), url('../images/podcast.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.podcasting-overlay {
	background-image: linear-gradient(rgba(256, 256, 256, 0.1), #fff);
}

.elvanto-wrapper {
	background-attachment: fixed;
	background-color: #323232;
	background-image: url('../images/elvanto-icon.png');
	background-repeat: no-repeat;
	background-position: -25% 20%;
	background-size: auto;
}

.elvanto-overlay {
	// background-image: linear-gradient(rgba(#fff,0) 15%, rgba(#fff,1));
	h1,
	h2,
	h3 {
		color: #fff;
	}

	p {
		color: $primary-highlight;
	}

	blockquote {
		color: $primary-highlight;
	}

	a {
		color: $footer-text;
	}
}

.status-overlay {
	min-height: 500px;
	background-attachment: fixed;
	background-image: linear-gradient(rgba(256, 256, 256, 0.6), #fff 50%, #fff), url('../images/matrix.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-overlay {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(256, 256, 256, 0.3), #fff), url('../images/pen.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
