@import url(https://fonts.googleapis.com/css?family=Quicksand:400);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

$font-family-sans-serif: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: 'EB Garamond', Georgia, "Times New Roman", Times, serif !default;

$font-size-base: 22px !default;
$line-height-base: 1.5 !default;

//Colours
$primary-red: #C13936;
$brand-primary: $primary-red !default;

$primary-heading: #E63224;
$logo-colour: $primary-heading !default;

$secondary-heading: #F18032;

$main-text: #040608;
$footer-bg: $main-text !default;

$primary-highlight: #B7CBE6;
$secondary-highlight: #FCF5ED;

$body-bg: #fff !default;
$footer-text: $body-bg !default;

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Typography
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-serif !default;
$font-size-base: 20px !default;
$scale-up: 1.333 !default;
$scale-down: 0.75 !default;
$font-size-large: ceil(($font-size-base * $scale-up)) !default;
$font-size-small: ceil(($font-size-base * $scale-down)) !default;

// Headings
$font-size-h4: $font-size-base !default;
$font-size-h3: $font-size-h4 * $scale-up !default;
$font-size-h2: $font-size-h3 * $scale-up !default;
$font-size-h1: $font-size-h2 * $scale-up !default;
$font-size-h5: $font-size-h4 * $scale-down !default;
$font-size-h6: $font-size-h5 * $scale-down !default;

// Line Height
$line-height-base: 1.5 !default;
$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 500 !default;
$headings-color: $primary-heading !default;

// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "~normalize.css/normalize.css";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";

// Components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";

// Utility classes
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// Our Stuff
@import "./footer";

@lost gutter 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  // lost-utility: edit;
	// background-image: url(http://basehold.it/i/30);
  font: #{$font-size-base}/#{$line-height-base} $font-family-base;
  filter: grayscale(1);
}

em {
  style: italics;
}

.featured-light {
  background-color: $primary-heading;
  height: 400px;
}

.featured-dark {
  background-color: $footer-bg;
  height: 400px;
}

.site-wrapper {
		padding: 15px;
		lost-utility: clearfix;
		lost-center: 980px flex;
}

main {
		lost-column: 1/1;
		@media (min-width: $screen-md-min) {
				lost-column: 3/3;
		}
}
article {
		header {
				margin-bottom: 1vr;
		}
}

.nav-bar {
  //background-color: $primary-highlight;
  //height: 127.5px;
  //margin-bottom: 100px;
  lost-utility: clearfix;
}

.logo {
  background-image: url("../elements/v100it.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  height: 127.5px;
  lost-column: 3/16;
  //width: 180px;
  background-size: contain;
}

.main-menu {
  lost-column:13/16;
}

.main-menu ul {
  list-style-type: none;
  margin-left: 5px;
  padding: 0;
  lost-utility: clearfix;
}

.main-menu-item {
  float: left;
  lost-column: 2/13 0 5px;
  //border: 1px solid black;
  text-align: center;
}

.main-menu-item a {
  display: inline-block;
  //width: 140px;
}

.search-box {
  display: inline-block;
  //border: 1px solid black;
  lost-column: 1/13 0 5px;
  text-align: center;
}

.tagline {
  height: 600px;
  background-image: url("../elements/splash-image.jpeg");
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -200px;
}

.tagline h1 {
  text-align: center;
  font-family: $font-family-serif;
  //display: inline-block;
  width: 40%;
  height: 30%;
  //border: 1px solid white;
  background-color: rgba(255, 255, 255, .8);
  position: relative;
  margin: auto;
}

.social {
margin: 0;
padding: 0;
}

.social ul {
  list-style-type: none;
}

.social li {
//    display: inline;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		color: $headings-color;
		small,
		.small {
				font-weight: normal;
				line-height: 1;
				color: $headings-small-color;
		}
}
