//hero content styles

.mini-hero-container {
  //padding-top: 92px;
}

.mini-hero-background {
  height: 50vh;
  background-size: cover;
  background-position-y: 75%;
  background-image: url("../elements/buildings.jpeg");
}

.mini-hero-content {
  position: relative;
  height: 80vh;
  margin-top: -80vh;
  lost-column: 3/4;
  lost-move: 1/8;
  z-index: 1;
  lost-utility: clearfix;
  @media (min-width: $screen-md-min) {
    lost-column: 1/2;
    lost-move: 1/4;
  }
}
