@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";

html {
	font-size: 18px;
	position: relative;
	min-height: 100%;
	// lost-utility: edit;
}

body {
	font: #{$font-size-base}/#{$line-height-base} $font-family-base;
}
