.instruction {
 width: 100%;
  lost-utility: clearfix;
  p {
    height: 50px;
  }
}

.form-group {
  lost-column: 4/6;
  lost-move: 1/6;
}

.list-wrapper {
  lost-column: 1/1;
  div {
    lost-column: 1/4;
    h1,h2,h3 {
      text-align: center;
      margin-bottom: 10px;
    }
  }

}
