@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		color: $headings-color;
		small,
		.small {
				font-weight: normal;
				line-height: 1;
				color: $headings-small-color;
		}
}
