@import '../../css/variables';

footer {
	flex-shrink: 0;
	background-color: #fff;

	@media (min-width: $screen-md-min) {
		background-color: $footer-bg;
		color: #fff;
	}
}

:local .wrap {
	padding: 1.5lh 1lh 0.5lh;
	lost-center: 980px;

	h3 {
		margin-bottom: 0.5lh;
	}

	ul,
	li {
		margin: 0;
	}

	header {
		text-transform: lowercase;
	}

	@media (min-width: $screen-md-min) {
		// padding: 0;
	}
}

:local .item {
	lost-column: 1/2;
	font-size: 0.8rem;
	text-align: center;

	h3 {
		font-size: $font-size-h4;

		@media (min-width: $screen-md-min) {
			padding-bottom: 3px;
			border-bottom: 1px solid $brand-primary;
			font-size: $font-size-h3;
		}
	}

	ul {
		margin-top: -5px;

		a {
			margin: 0 4px;
			color: #000;

			@media (min-width: $screen-md-min) {
				margin: 0;
				color: $footer-text;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		lost-column: 2/11;
		font-size: 1rem;
	}

	&:nth-child(-n+2) {
		@media (min-width: $screen-md-min) {
			text-align: right;
		}
	}

	&:nth-child(n+3) {
		@media (min-width: $screen-md-min) {
			text-align: left;
			lost-move: 3/11;
		}
	}

	&:nth-child(5) {
		lost-column: 1;
		height: 190px;
		background-image: url('../../images/main-logo-nws.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 190px 175px;

		h3 {
			border-bottom: 0;
		}

		@media (min-width: $screen-md-min) {
			lost-column: 3/11;
			lost-move: -4/11;
		}
	}
}

:local .social {
	margin: 0;
	padding: 0;
}

:local .social ul {
	list-style-type: none;
}

:local .social li {
	//    display: inline;
}
