@import '../../css/variables';

:local .post {
	lost-column: 1/1;
}

:local .meta {
	display: none;

	@media (min-width: $screen-sm-min) {
		display: block;
	}

	@media (min-width: $screen-lg-min) {
		position: absolute;
		width: 200px;
		height: auto;
		margin-left: -200px;
	}
}

:local .author {
	display: inline;
	padding-right: 20px;

	@media (min-width: $screen-lg-min) {
		display: block;
		text-align: right;
	}
}

:local .date {
	display: inline;
	padding-right: 20px;

	@media (min-width: $screen-lg-min) {
		display: block;
		text-align: right;
	}
}

:local .category {
	display: inline;
	padding-right: 20px;

	@media (min-width: $screen-lg-min) {
		display: block;
		text-align: right;
	}
}

:local .content {
	img {
		max-height: 100px;
		margin: 0 15px 0 0;
		float: left;

		.wide {
			max-width: 100%;
		}

		.regular {
			max-height: 50px;
		}

		@media (min-width: $screen-md-min) {
			max-width: 100%;
			max-height: 200px;
		}
	}
}
