@import "../../css/variables";

:local .post {
		lost-column: 1/1;
}

:local .title {}

:local .meta {
		display: none;
		@media (min-width: $screen-sm-min) {
				display: block;
				@media (min-width: $screen-lg-min) {
					width: 200px;
					margin-left: -200px;
					float: left;
					height: auto;
					position: absolute;
				}
		}
}

:local .author {
display: inline;
padding-right: 20px;
	@media (min-width: $screen-lg-min) {
		display: block;
		text-align: right;
	}
}

:local .date {
display: inline;
padding-right: 20px;
	@media (min-width: $screen-lg-min) {
		display: block;
		text-align: right;
	}
}

:local .category {
display: inline;
padding-right: 20px;
	@media (min-width: $screen-lg-min) {
		display: block;
		text-align: right;
	}
}

:local .content {
	img {
		float: left;
		margin: 0 15px 0 0;
		max-height: 100px;
		.wide {
			max-width: 100%;
		}
		.regular {
			max-height: 50px;
		}
		@media (min-width: $screen-md-min) {
			max-height: 200px;
		}
	}
}
