@import "../../css/variables";

:local .overlay {
	text-transform: uppercase;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding-top: 1lh;
	background-color: rgba($text-color, 0.8);
	z-index: 10;
	color: $search-overlay;
	// backdrop-filter: blur(5px);

	@media (min-width: $screen-md-min) {
		width: 400px;
		height: 100vh;
		border-right: 3px solid rgba(darken($text-color, 80%), 0.4);
	}

	a {
		color: white;
	}

	form {
		width: 100%;
		color: black;
	}

	ul {
		margin-top: 10px;
		lost-column: 1/1;
		font-family: $font-family-sans-serif;
	}
}

:local .container {
	padding: 0 0.5lh;
}

:local .search {
	background: rgba(lighten($text-color, 70%), 0.1);
	border: none;
	color: white;
}

:local .transparent {
	width: 100%;
	color: white;
	line-height: 0.5;
	text-align: center;
	background-color: transparent;
}

:local .menu {
	lost-flex-container: row;
	color: $search-overlay;
	font-size: $font-size-h3;

	a {
		color: $search-overlay;
	}
}

:local .results {
	position: relative;
	width: 100%;
	// border-color: rgba(lighten($text-color, 90%), 0.2);
	border-style: solid;
	border-color: rgba(darken($text-color, 80%), 0.4);
	background-color: rgba(darken($text-color, 90%), 0.2);
	border-width: 2px 0 1px;
	overflow-y: scroll;
	max-height: 250px;
	padding: 0.5lh;
}

:local .title {
	lost-flex-container: row;

	h2,
	h3 {
		width: 100%;
		margin-bottom: 0.5lh;
		color: $search-overlay;
	}

	a {
		float: right;
		margin-right: 20px;

		@media (min-width: $screen-lg-min) {
			margin-right: 60px;
		}

		span {
			cursor: pointer;
			color: $search-overlay;
		}
	}
}

:local .postscript {
	font-family: $font-family-sans-serif;
	padding-top: 40px;
	font-size: 65%;
}
