@import "../../css/variables";

:local .overlay {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding-top: 1lh;
	background-color: rgba($text-color, 0.8);
	z-index: 10;
	color: $search-overlay;
	// backdrop-filter: blur(5px);

	@media (min-width: $screen-md-min) {
		width: 400px;
		height: 100vh;
		border-right: 3px solid rgba(darken($text-color, 80%), 0.4);
	}

	a {
		color: white;
	}

	form {
		width: 100%;
		color: black;
	}
}

:local .container {
	padding: 0 0.5lh;
	border-style: solid;
	border-color: rgba(darken($text-color, 80%), 0.4);
	border-width: 0;
}

:local .container:first-child {
	border-bottom-width: 2px;
}

:local .container:last-child {
	border-top-width: 1px;
}

:local .menu {
	flex: 1 0 auto;
	color: $search-overlay;
	font-size: $font-size-h3;
	margin: 1lh 0 2lh;

	a {
		color: $search-overlay;
	}
}

:local .results {
	padding: 0.5lh;
	background-color: rgba(darken($text-color, 90%), 0.2);
}

:local .title {
	lost-flex-container: row;

	h2,
	h3 {
		width: 100%;
		margin-bottom: 0.5lh;
		color: $search-overlay;
	}

	a {
		float: right;
		margin-right: 20px;

		span {
			cursor: pointer;
			color: $search-overlay;
		}
	}
}

:local .searchInput {
	background: rgba(lighten($text-color, 70%), 0.1);
	border: none;
	color: white;
}

:local .searchButton {
	width: 100%;
	border: none;
	color: white;
	background-color: transparent;
	line-height: 0.5;
	text-align: center;
}

:local .postscript {
	font-size: 65%;

	p {
		margin: 0;
		line-height: 1.5;
	}
}
