@import "../../css/variables";

//search stuff
.search-overlay {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -400px;
  width: 100%;
  height: 100vh;
  background-color: rgba($text-color, .8);
  z-index: 6;
  color: $search-overlay;
  backdrop-filter:blur(none);
  a {
    color: white;
  }
  &.visible {
    display: block;
    margin-left: 0px;
    opacity: 1;
    transition: opacity .3s linear;
    backdrop-filter:blur(5px);
  }

  .search-title {
    margin-bottom: 0.75vr;
    lost-flex-container: row;
    h2 {
        lost-column: 3/4 0 0px;
        margin-left: 10px;
        color: $search-overlay;
    }
    div {
      lost-column: 1/4;
      margin: 24px 20px 0 0;
      span {
        text-align: center;
        cursor: pointer;
        color: $search-overlay;
      }
    }
  }
  form {
    padding: 0 1.25vr;
    height: 60px;
    width: 100%;
    color: black;
  }
  .search, .submit {
    background: rgba(lighten($text-color, 70%), .1);
    border: none;
    color: white;
  }
  .btn-transparent {
    width: 100%;
    line-height: .5;
    text-align: center;
  }

  .search-results {
    position: relative;
    width: 100%;
    max-height: 0;
    transition: max-height .5s ease-out;
    padding-top: -100%;
    border-color: rgba(lighten($text-color, 90%), .2);
    border-style: solid;
    border-color: rgba(darken($text-color, 80%), .4);
    background-color: rgba(darken($text-color, 90%), .2);
    border-width: 2px 0 1px 0;
    overflow: hidden;

    .results-content {
      lost-flex-container: row;
      opacity: 0;
      transition: opacity .5s ease-out;
    }

    &.visible {
      max-height: 250px;
      transition: max-height .5s;
    }
    &.visible .results-content {
      opacity: 1;
      transition: opacity .5s ease-in;
    }

    .results-title {
      lost-flex-container: row;
      h3 {
        lost-column: 5/6 0 0px;
        margin-left: 10px;
        color: $search-overlay;
      }
      div {
        lost-column: 1/6;
        margin: 24px 20px 0 0;
        span {
          text-align: center;
          cursor: pointer;
          color: $search-overlay;
          }
      }
    }
    .search-nav {
      margin-top: 10px;
      bottom: 0;
      p {
        float: right;
        padding-right: 10px;
      }
    }
  }
  .search-menu {
    lost-flex-container: row;
    a {
        color: $search-overlay;
    }
    color: $search-overlay;
    font-size: $font-size-h3;
  }
  ul {
    margin-top: 10px;
    padding: 10px;
    lost-column: 1/1;
    font-family: $font-family-sans-serif;
  }
  @media (min-width: $screen-md-min) {
    //display: none;
    width: 400px;
    height: 100vh;
    border-right: 3px solid rgba(darken($text-color, 80%), .4);
  }
  .postscript {
    font-family: $font-family-sans-serif;
    padding-top: 40px;
    margin-left: 10px;
    font-size: 65%;
  }
}
