{
	"plugins": [
		"syntax-dynamic-import"
	],
	"presets": [
		[
			"es2015",
			{
				"modules": false
			}
		],
		"react",
		"stage-2"
	],
	"env": {
		"production": {
			"plugins": [
				"transform-react-constant-elements",
				"transform-react-inline-elements",
				"transform-react-remove-prop-types"
			]
		}
	}
}
