@import "../../css/variables";

.product-cards {
  margin: 20px;
  lost-center: 95%;
  div {
    box-shadow: 0 10px 16px 0 rgba($primary-highlight,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
		@media (min-width: $screen-sm-min) {
			lost-column: 1/2;
			margin-bottom: 20px;
		}
		@media (min-width: $screen-md-min) {
    	lost-column: 1/4;
			margin-bottom: 20px;
		}
    position: relative;
    height: 200px;
    overflow: hidden;
    img {
      max-width: 100%;
      position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
      z-index: 0;
    }
    h3 {
      margin-top: 0;
      padding: 10px;
      position: absolute;
      z-index: 1;
    }
    p {
      font-family: $font-family-sans-serif;
      padding: 5px;
      background-color: rgba(white, .9);
      height: 30%;
      width: 100%;
      position: absolute;
      left: 0px;
      bottom: 0px;
      margin: 0;
      z-index: 1;
    }
  }
}
