.search-wrapper {
 width: 100%;
  p {
    height: auto;
  }
}

/*.form-group {
  lost-column: 4/6;
  lost-move: 1/6;
}
*/
.list-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 1 0 25%;
    h1,h2,h3 {
      text-align: center;
    }
  }
}
