@import "../../css/variables";

.search-wrapper {
 width: 100%;
  p {
    height: auto;
  }
}

/*.form-group {
  lost-column: 4/6;
  lost-move: 1/6;
}
*/
.list-wrapper {
  width: 100%;
  lost-flex-container: row;
  div {
    box-shadow: 0 10px 16px 0 rgba($primary-highlight,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    margin-bottom: 40px; //transform to -120px; to stack
    padding: 0 10px 10px 10px;
    lost-column: 1/2 2 40px;
    a {
      color: $text-color;
    }
    h1,h2,h3 {
		    color: $search-overlay;
    }
  }
}

i {
  color: $primary-highlight;
  padding-right: 10px;
}

.documentation-overlay {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(rgba(256, 256, 256, .6), white 50%, white), url("../../elements/books.jpg");
}
