@import "../../css/variables";

.search-wrapper {
 width: 100%;
  p {
    height: auto;
  }
}

/*.form-group {
  lost-column: 4/6;
  lost-move: 1/6;
}
*/
.list-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  div {
    box-shadow: 0 10px 16px 0 rgba($primary-highlight,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0 20px 20px 0;
    padding-left: 10px;
    flex: 1 0 25%;
    a {
      color: $text-color;
    }
    h1,h2,h3 {
		    color: $search-overlay;
    }
  }
}

i {
  color: $primary-highlight;
  padding-right: 10px;
}
