@import "../../css/variables";

.documentation-wrapper {
		padding: 15px;
    padding-top: 120px;
    height: 100vh;
    overflow: hidden;
		lost-center: 100%;
    section {
      lost-column: 1/1;
    }
}

.documentation-sidebar {
	lost-column: 1/4;
	height: 100%;
}

.TOC-sidebar {
  padding: 10px;
  box-shadow: 0 10px 16px 0 rgba($primary-highlight,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
  //border-right: 1px solid lighten($text-color, 70%);
  overflow-x: hidden;
  overflow-y: auto;
  height: 70%;
  list-style: none;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
	a {
	color: $text-color;
	}
	h3 {
		margin-top: 5px;
		color: $search-overlay;
	}
  ul li {
    text-transform: inherit;
    list-style: none;
    margin-left: -20px;
    ul {
      padding-bottom: 10px;
    }
    ul li {
      text-transform: lowercase;
      list-style: square;
      width: auto;
    }
  }
}

.feedback-sidebar {
  padding: 10px;
  box-shadow: 0 10px 16px 0 rgba($primary-highlight,0.8),0 6px 20px 0 rgba(0,0,0,0.19);
  //border-right: 1px solid lighten($text-color, 70%);
  overflow-x: hidden;
  overflow-y: auto;
  height: 20%;
  list-style: none;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
	a {
	color: $text-color;
	}
	h3 {
		margin-top: 5px;
		color: $search-overlay;
	}
	i {
		text-align: center;
		width: 100%;
		color: inherit;
	}
}

.documentation-content {
  lost-column: 23/32;
  overflow: auto;
  height: 100%;
}
